.MovieTable .search{
    margin-bottom:10px;
    padding:5px;
    width:auto;
    
}

.MovieTable table.content {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.MovieTable table.content td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    transition: background-color 0.1s;
  }
  
  .MovieTable table.content  th:hover {
    background-color: #eee;
  }

  .MovieTable table.content  th:active {
    background-color: #ccc !important;
  }

.MovieTable table.content tr:nth-child(even) {
    background-color: #dddddd;
}

.MovieTable .controls .pageDetails{
    display:inline-block;
    text-align:center;
    width:100px;
}

.MovieTable .controls{
    text-align: center;
    margin-top:20px;
}

.MovieTable .loadingMessage{
    margin-top:20px;
    text-align: center;
}


.MovieTable table.content tbody tr{
    transition: background-color 0.1s;
}

.MovieTable table.content tbody tr:hover {
    background-color: #eee;
}

.MovieTable table.content tbody tr:active {
    background-color: #ccc !important;
}